<div class="container mt-4">
    <div class="text-end mb-3">
        <button type="button" class="btn" style="background-color: #e2e3e5; color: #41464b; border-color: #d3d6d8;"
            data-bs-toggle="modal" data-bs-target="#stateModal" (click)="openAddModal()">
            + Add State
        </button>
    </div>

    <!-- State Modal -->
    <div class="modal fade" id="stateModal" tabindex="-1" aria-labelledby="stateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="stateModalLabel">{{ isEditMode ? 'Edit State' : 'Add New State' }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="resetForm()"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="stateForm" (ngSubmit)="onSubmit()" class="row g-3">
                        <div class="col-12">
                            <label for="countryId" class="form-label">Country:</label>
                            <select id="countryId" class="form-select" formControlName="countryId">
                                <option value="" disabled selected>Select Country</option>
                                <option *ngFor="let c of countries" [value]="c.countryId">{{ c.countryName }}</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="stateName" class="form-label">State Name:</label>
                            <input type="text" id="stateName" class="form-control" formControlName="stateName">
                        </div>

                        <div class="col-md-6">
                            <label for="stateCode" class="form-label">State Code:</label>
                            <input type="text" id="stateCode" class="form-control" formControlName="stateCode">
                        </div>

                        <div class="col-12">
                            <label for="stateStatus" class="form-label">Status:</label>
                            <select id="stateStatus" class="form-select" formControlName="stateStatus">
                                <option value="0">Inactive</option>
                                <option value="1">Active</option>


                            </select>

                        </div>

                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-success" data-bs-dismiss="modal">{{ isEditMode ?
                                'Update' : 'Add' }}</button>
                            <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal"
                                (click)="resetForm()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Table -->
    <table class="table table-bordered text-center">
        <thead class="table-white">
            <tr>
                <th class="table-secondary">Sr.</th>
                <th>State Name</th>
                <th>State Code</th>
                <th>Country</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngIf="states && states.length > 0; else noData">
            <tr *ngFor="let state of states; index as i" [ngClass]="!state.stateStatus ? 'table-secondary' : ''">
                <td>{{ i + 1 }}</td>
                <td>{{ state.stateName }}</td>
                <td>{{ state.stateCode }}</td>
                <td>{{ state.countryName }}</td>
                <td>
                    <!-- <span [class]="'badge ' + (state.stateStatus ? 'bg-success' : 'bg-secondary')">
            {{ state.stateStatus ? 'Active' : 'Inactive' }}
          </span> -->
                    <!-- <select class="form-select"
          [ngClass]="(!state.stateStatus) ? 'bg-light-gray text-secondary': 'bg-success text-white'"
           [(ngModel)]="state.stateStatus" (change)="onStatusChange(state)">
            <option [ngValue]="true">Active</option>
            <option [ngValue]="false">Inactive</option>
          </select> -->
                    <span class="badge"
                        [ngClass]="(!state.stateStatus) ? 'bg-light-gray text-secondary': 'bg-success text-white'">
                        {{ state.stateStatus ? 'Active' : 'Inactive' }}
                    </span>
                </td>
                <td>
                    <button class="btn btn-sm btn-warning me-2" (click)="onEdit(state)" data-bs-toggle="modal"
                        data-bs-target="#stateModal">
                        <i class="fas fa-edit"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <ng-template #noData>
        <tr>
            <td colspan="6">No states found.</td>
        </tr>
    </ng-template>
</div>